/**************************************
Genaral
****************************************/

body {
    background: var(--bs-body-bg)
}

/**************************************
Navbar
****************************************/

#navbar {
    background: #0000;
    transition: background-color 0.3s;
}

#navbar li a {
    color: var(--bs-body-color-text);
}

#mobileMenu {
    background: var(--bs-body-bg)
}

.navbar-toggler:hover,
.nav-link:hover,
.nav-link:focus {
    color: var(--color-third) !important;
}

.offcanvas-title {
    color: var(--bs-body-color-text);
}

.vr {
    color: var(--bs-body-color-text);
}

#citaNow {
    background-color: var(--color-primary);
}

#citaNow {
    color: var(--color-background-light) !important
}

#citaNow:hover {
    background-color: var(--bs-color-section);
}

#theme-icon {
    color: var(--bs-body-color-text);
}

#theme-text {
    color: var(--bs-body-color-text);
}



/**************************************
  Main
****************************************/


main {
    width: 100%;
    margin-top: -100px;
    background: var(--bg-two-fond);
}

/**************************************
  Servicios
****************************************/

#servicio{
    padding-top: 100px;
}
.service {
    display: none;
    opacity: 0;
    transition: max-height 0.5s ease, opacity 0.5s ease;
}

#tituloStart {
    opacity: 0; /* Inicialmente invisible */
    transition: opacity 0.5s ease; /* Transición suave */
}

#tituloStart.visible {
    opacity: 1; /* Visible */
    background-color: var(--bs-body-absolute2);
}

.service.visible {
    /* Ajusta según el contenido máximo */
    opacity: 1;
    display: block;
}

#servicio .text-1 {
    color: var(--bs-body-color-text);
}

.map-container {
    position: relative;
    display: inline-block;
}

.location-icon {
    position: absolute;
    color: red;
    font-size: 2rem;
    /* Puedes ajustar el tamaño según necesites */
    transform: translate(-50%, -100%);
    cursor: pointer;
}

#servicio .text-1 .text-darkCyan,
#servicio .title .text-darkCyan {
    color: var(--color-primary);
}

.boxService {
    background-color: var(--bs-body-absolute2);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: start;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.icon-container img {
    /* Ajusta el tamaño y otros estilos de la imagen según tus necesidades */
    width: 60px;
    height: auto;
}

.boxService .title {
    font-size: 1.25rem;
    font-weight: bold;
    color: var(--bs-body-color-text);
}

@media (min-width: 576px) {
    .boxService .title {
        font-size: 1.5rem;
    }
}

@media (min-width: 768px) {
    .boxService .title {
        font-size: 1.75rem;
    }
}

@media (min-width: 1200px) {
    .boxService .title {
        font-size: 2rem;
    }
}

@media (min-width: 1600px) {
    .boxService .title {
        font-size: 2rem;
    }
}

/* Footer */

#footer {
    background: var(--bs-body-bg);
    color: var(--bs-body-color-text);
  }

  #footer .logos-footer a i {
    color: var(--bs-body-color-text);
  }
  
  #footer .link-footer li a {
    color: var(--bs-body-color-text);
  }