/* # General */

@font-face {
  font-family: 'monserrat-medium';
  src: url('../font-family/Montserrat-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'monserrat-BlackItalic';
  src: url('../font-family/Montserrat-BlackItalic.otf') format('opentype');
}


@font-face {
  font-family: 'montserrat-ExtraLightItalic';
  src: url('../font-family/Montserrat-ExtraLightItalic.otf') format('opentype');
}


@font-face {
  font-family: 'montserrat-Black';
  src: url('../font-family/Montserrat-Black.otf') format('opentype');
}

@font-face {
  font-family: 'montserrat-Black';
  src: url('../font-family/Montserrat-Black.otf') format('opentype');
}

@font-face {
  font-family: 'sf-proDisplayMedium';
  src: url('../font-family/SFPRODISPLAYMEDIUM.OTF') format('opentype');
}


:root {
  --color-primary: rgb(139, 190, 0);
  --color-secondary: rgb(0, 162, 149);
  --color-third: rgb(67, 92, 0);
  --color-text-light: #fff;
  --color-text-dark: #333;
  --color-background-light: #f5f5f5;
  --color-background-dark: #222;
  --color-backgraund-grey: rgb(234, 234, 234); 
  --color-backgraund-two-fond: radial-gradient(90% 50% at 50% 5%,#00a3ff21 0,#00a3ff00,#00a3ff00);
  --color-backgraund-two-fond-greend: radial-gradient(90% 50% at 50% 5%,rgb(139 190 0 / 9%) 0,#00a3ff00,#00a3ff00);
  --color-black: #000;
  --color-yellow: #fbff00;
  --color-modal: #69caa699;
  --gradient-multicolor-dark: linear-gradient(90deg, rgb(0, 255, 0), rgb(0, 255, 255), rgb(0, 128, 255), rgb(255, 0, 255), rgb(255, 0, 128), rgb(255, 255, 0));
  --gradient-multicolor-2-dark: linear-gradient(90deg, rgb(120, 0, 255), rgb(0, 231, 231), rgb(180, 0, 255), rgb(0, 6, 255));
  --gradient-multicolor-light: linear-gradient(90deg, rgb(139, 190, 0), rgb(136, 150, 255), rgb(63, 190, 238), rgb(158, 139, 255), rgb(136, 150, 255), rgb(255, 121, 91));
  --gradient-multicolor-2-light: linear-gradient(90deg, rgb(158, 139, 255), rgb(63, 190, 238), rgb(136, 150, 255), rgb(16, 76, 137));      
  --shadow-color-black: rgba(0, 0, 0, 0.15);
  --shadow-color-light: rgba(255, 255, 255, 0.15);
  --shadow-hover-dark: rgba(0, 0, 0, 0.12);
  --shadow-hover-light: rgba(255, 255, 255, 0.12);
}

:root[data-bs-theme="light"] {
  --bs-body-color-text: var(--color-text-dark);
  --bs-body-color: var(--color-text-light);
  --bs-body-bg: var(--color-background-light);
  --bs-primary: var(--color-primary);
  --bs-secondary: var(--color-secondary);
  --bs-third: var(--color-third);
  --bs-color-section: var(--color-secondary);
  --bs-bg-absolute: var(--color-black);
  --bs-body-absolute2: var(--color-text-light);
  --bs-check-mode : var(--color-text-light);
  --bs-bg: var(--color-backgraund-grey);
  --gradient-multicolor: var(--gradient-multicolor-light);
  --gradient-multicolor-2: var(--gradient-multicolor-2-light);
  --bg-color-modal: var(--color-modal);
  --bg-two-fond: var(--color-backgraund-two-fond-greend);
  --bg-list-groud: var(--color-primary);
}

:root[data-bs-theme="dark"] {
  --bs-body-color-text: var(--color-text-light);
  --bs-body-color: var(--color-text-light);
  --bs-body-bg: var(--color-background-dark);
  --bs-primary: var(--color-text-dark);
  --bs-secondary: var(--color-secondary);
  --bs-third: var(--color-background-dark);
  --bs-color-section: var(--color-black);
  --bs-bg-absolute: var(--color-text-light);
  --bs-body-absolute2: var(--color-black);
  --bs-check-mode : var(--color-text-light);
  --bs-bg: var(--color-background-dark);
  --gradient-multicolor: var(--gradient-multicolor-dark);
  --gradient-multicolor-2: var(--gradient-multicolor-2-dark);
  --bg-color-modal: var(--color-background-dark);
  --bg-two-fond: var(--color-backgraund-two-fond);
  --bg-list-groud: var(--color-secondary);
}

body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  font-family: monserrat-medium, sans-serif;
}


/* Navbar */

/* Navbar */
#navbar {
  background: var(--bs-primary);
  font-family: sans-serif;
}

#navbar li a {
  font-size: 18px;
  color: var(--color-text-light);
  transition: color 0.5s ease, background-color 0.3s ease;
}

.navbar-toggler:hover,
.nav-link:hover,
.nav-link:focus {
  color: var(--bs-third) !important;
}

.navbar-toggler {
  border: none;
  padding: 8px;
}

.navbar-toggler:focus {
  text-decoration: none !important;
  outline: 0 !important;
  box-shadow: none !important;
}

#mobileMenu {
  background: var(--bs-primary);
  color: var(--color-text-light);
}

#theme-toggle {
  cursor: pointer;
}

#theme-icon {
  color: var(--bs-check-mode);
  transition: transform 0.3s ease-in-out;
}

#theme-text {
  color: var(--color-text-light);
}

.dark #theme-icon {
  transform: rotate(360deg);
}

#citaNow {
  background-color: var(--color-secondary);
  border-radius: 5px;
}

#citaNow:hover {
  background-color: var(--color-background-light);
}


/* Header */

#header {
  padding: 10rem 0;
  background-color: var(--bs-primary);
  color: var(--color-text-light);
}

#header #title_1 h1 {
  padding-bottom: 10px;
  font-family: "montserrat-Black";
  text-align: center;
}

#header #title_2 h1 {
  font-family: "montserrat-ExtraLightItalic";
}

/* Responsive Styles */


@media (max-width: 575.98px) {
  #header #title_1 h1 {
    font-size: 2.3rem;
  }

  #header #title_2 h1 {
    font-size: 1.5rem;
  }
}


@media (min-width: 576px) and (max-width: 767.98px) {
  #header #title_1 h1 {
    font-size: 3rem;
  }

  #header #title_2 h1 {
    font-size: 1.75rem;
  }
}


@media (min-width: 768px) and (max-width: 991.98px) {
  #header #title_1 h1 {
    font-size: 4.5rem;
  }

  #header #title_2 h1 {
    font-size: 2rem;
  }
}


@media (min-width: 992px) and (max-width: 1499.98px) {
  #header #title_1 h1 {
    font-size: 8rem;
  }

  #header #title_2 h1 {
    font-size: 2.5rem;
  }
}


@media (min-width: 1500px) and (max-width: 1919.98px) {
  #header #title_1 h1 {
    font-size: 10rem;
  }

  #header #title_2 h1 {
    font-size: 3rem;
  }
}

@media (min-width: 1920px) {
  #header #title_1 h1 {
    font-size: 12rem;
  }

  #header #title_2 h1 {
    font-size: 4rem;
  }
}

/* MAIN */

#main {
  background: var(--bs-body-bg);
}

@media (max-width: 575.98px) {
  #main {
    border-top-left-radius: 6vw;
    border-top-right-radius: 6vw;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  #main {
    border-top-left-radius: 4% 0.6%;
    border-top-right-radius: 4% 0.6%;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  #main {
    border-top-left-radius: 5% 0.8%;
    border-top-right-radius: 5% 0.8%;
  }
}

@media (min-width: 1200px) and (max-width: 1799.98px) {
  #main {
    border-top-left-radius: 5% 1%;
    border-top-right-radius: 5% 1%;
  }
}

@media (min-width: 1800px) {
  #main {
    border-top-left-radius: 5% 1%;
    border-top-right-radius: 5% 1%;
  }
}


/* Valores section */

#valores {
  margin-top: -70px;
}

#valores h2 {
  color: var(--bs-body-color-text);
}

#valores .text-1 {
  font-size: 5vw;
  font-family: "montserrat-Black";
}

/* Media query para pantallas pequeñas (por ejemplo, teléfonos) */
@media only screen and (max-width: 600px) {
  #valores .text-1 {
    font-size: 7vw;
  }
}

/* Media query para tabletas y pantallas medianas */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  #valores .text-1 {
    font-size: 5vw;
  }
}

/* Media query para pantallas grandes (por ejemplo, computadoras de escritorio) */
@media only screen and (min-width: 1025px) {
  #valores .text-1 {
    font-size: 4vw;
  }
}

#valores .boxValues {
  padding: 30px;
  width: 100%;
  height: 25vh;
  padding-bottom: 100%;
  background: var(--bs-body-bg);
  box-shadow: 10px 8px 30px  var(--shadow-color-black);
  transition: all 0.3s ease-in-out;
  border-radius: 3vw;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#valores .boxValues:hover {
  box-shadow: 10px 10px 10px 10px var(--shadow-hover-dark);
  transform: translateY(-5px);
}

#valores .boxValues h3 {
  font-family: "montserrat-Black";
  color: var(--bs-body-color-text);
  text-align: center;
  margin-top: 20px;
  /* Ajusta el espaciado entre el icono y el texto */
}

/* Responsividad de las fuentes
@media only screen and (max-width: 480px) {
  #valores .boxValues h3 {
    font-size: 9vw;
  }
}

@media only screen and (min-width: 481px) and (max-width: 600px) {
  #valores .boxValues h3 {
    font-size: 5vw;
  }
}

@media only screen and (min-width: 601px) and (max-width: 768px) {
  #valores .boxValues h3 {
    font-size: 4.5vw;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  #valores .boxValues h3 {
    font-size: 3vw;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  #valores .boxValues h3 {
    font-size: 3vw;
  }
}

@media only screen and (min-width: 1441px) {
  #valores .boxValues h3 {
    font-size: 3vw;
  }
} */

/* @media de icono animado */
/* Tamaño para pantallas muy pequeñas */
@media (min-width: 210px) {
  .icono_1 {
    width: 160px !important;
    height: 160px !important;
  }

  .icono_2 {
    width: 160px !important;
    height: 160px !important;
  }

  .icono_3 {
    width: 275px !important;
    height: 275px !important;
  }
}

@media (min-width: 280px) {
  .icono_1 {
    width: 200px !important;
    height: 200px !important;
  }

  .icono_2 {
    width: 210px !important;
    height: 210px !important;
  }

  .icono_3 {
    width: 380px !important;
    height: 380px !important;
  }
}

/* Tamaño para pantallas pequeñas */
@media (min-width: 320px) {

  .icono_1 {
    width: 220px !important;
    height: 220px !important;
  }

  .icono_2 {
    width: 230px !important;
    height: 230px !important;
  }

  .icono_3 {
    width: 400px !important;
    height: 400px !important;
  }

}


/* Tamaño para pantallas medianas */
@media (min-width: 768px) {
  .icono_1 {
    width: 230px  !important;
    height: 230px  !important;
  }

  .icono_2 {
    width: 235px !important;
    height: 235px !important;
  }

  .icono_3 {
    width: 410px !important;
    height: 410px !important;
  }
}

/* Tamaño para pantallas grandes */
@media (min-width: 992px) {
  .icono_1 {
    width: 210px !important;
    height: 210px !important;
  }

  .icono_2 {
    width: 210px !important;
    height: 210px !important;
  }

  .icono_3 {
    width: 380px !important;
    height: 380px !important;
  }

}

/* Tamaño para pantallas extra grandes */
@media (min-width: 1200px) {
  .icono_1 {
    width: 260px !important;
    height: 260px !important;
  }

  .icono_2 {
    width: 260px !important;
    height: 260px !important;
  }

  .icono_3 {
    width: 460px !important;
    height: 460px !important;
  }
}


/* Eslogan */

.eslogan {
  padding: 50px 0;
  transform: rotate(-1deg) scale(1);
}

.eslogan span {
  font-size: 3.5vw;
  font-weight: bold;
  line-height: 1.2;
  background: var( --gradient-multicolor);
  background-clip: text;
  color: transparent;
}


.eslogan .highlight_2 {
  color: var(--color-text-light);
  background: var(--gradient-multicolor-2) ;
}

@media (max-width: 425px) {
  .eslogan span {
    font-size: 8vw;
  }
}

@media (min-width: 2000px) {
  .eslogan span {
    font-size: 2vw;
  }
}
/* Testiminios */

#testimonios {
  background: var(--bs-secondary);
  border-radius: 2vw;
  position: relative;
  overflow: hidden;
}

.medico-img {
  width: 100%;
}

#testimonios h3 {
  font-family: "montserrat-Black";
  font-size: 12vw;
  position: relative;
  z-index: 2;
}



#testimonios .test-align {
  display: grid;
  place-items: center;
  height: 100%;
}

#testimonios .info {
  text-align: center;
  position: relative;
  z-index: 2;
}

#testimonios .info a {
  color: var(--color-text-light);
}

#testimonios .info a i {
  font-size: 50px;
}

#testimonios .info p {
  margin-top: 40px;
}


@media (max-width: 1028px) {

  .medico-img {
    width: 100%;
  }
}


/* Media queries para ajustes responsivos */
@media (max-width: 768px) {
  #testimonios h3 {
    font-size: 8vw;
  }

  .medico-img {
    width: 100%;
  }

  #testimonios .info a i {
    font-size: 40px;
  }

  #testimonios .info p {
    font-size: 1.5rem;
  }
}

@media (max-width: 576px) {

  #testimonios h3 {
    font-size: 18vw;
    padding-left: 0 !important;
  }

  .medico-img {
    display: none;
  }

  #testimonios .info a i {
    font-size: 30px;
  }

  #testimonios .info p {
    text-align: center;
  }
}

@media only screen and (max-width: 380px) {
  #testimonios .info p {
    text-align: center;
    margin-top: 40px;
  }
}

@keyframes pulse {
  0%, 100% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.2);
  }
}

.btnPlus {
  margin: 20px 0;
  align-self: center;
  border-radius: 50%;
  background: var(--color-secondary);
  border: 1px #fff solid;
  animation: pulse 2s infinite; /* Aplica la animación de pulsación */
}

.btnPlus:hover {
  background: rgb(0, 139, 128) !important;
  color: #ffffff;
  cursor: pointer;
}

.btnPlus:not(:hover) {
  cursor: default;
}

.btnPlus:active,
.btnPlus:focus {
  background: rgb(0, 139, 128);
  /* Cambia ligeramente el color de fondo al seleccionar el botón */
  color: #ffffff;
}

.plus {
  background-image: url(../img/iconos/plus.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px auto !important
}

/* Modal */

body.modal-open {
  padding-right: 15px; /* Ajusta este valor según el ancho de la barra de desplazamiento */
}


.no-border-bottom {
  border-bottom: none !important;
}

.modal-content{
  background-color: var(--bs-color-section) !important;
}


.modal-body {
  padding: 20px;
}

.custom-section {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: var(--bg-color-modal);
  border-radius: 2vw;
  text-align: justify;
  width: 100%;
  max-width: 900px;
  margin-bottom: 20px;
}

.custom-section h2 {
  font-size: 30px;
}

.custom-section p {
  text-align: justify;
}

@media (max-width: 768px) {

  .modal .title h1:nth-child(2) {
    font-size: calc(1.3rem + .6vw) !important;
  }

  .custom-section div {
    padding-top: 1.2rem !important;
  }

  .custom-section h2 {
    font-size: 20px;
  }

  .custom-section i {
    font-size: 20px !important;
  }

  .custom-section p {
    font-size: 0.9rem !important;
  }
}


/* box */

#box {
  width: 100vw;
}

#box .boxValues {
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.12);
  border-radius: 4vw;
  width: 100%;
  padding: 2rem;
  background-color: var(--color-text-light);
}

#box .boxValues h3 {
  font-family: "monserrat-BlackItalic", Arial;
  color: var(--color-text-dark);
}

#box .boxValues .icon {
  color: var(--bg-list-groud);
  font-size: 4rem;
}

#box .boxValues .highlight {
  border-bottom: 4px solid var(--bg-list-groud);
  display: inline-block;
}

/* Responsividad */
@media only screen and (max-width: 480px) {

  #box .boxValues .icon {
    font-size: 3rem;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {

  #box .boxValues .icon {
    font-size: 3.5rem;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {

  #box .boxValues .icon {
    font-size: 3.75rem;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1440px) {

  #box .boxValues .icon {
    font-size: 4rem;
  }
}

@media only screen and (min-width: 1441px) {
  #box .boxValues .icon {
    font-size: 4rem;
  }
}

/* servicios */

.servicios .icon-box-full {
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  border-radius: 4vw;
  z-index: 1;
  height: 60vh;
  width: 100%;
  text-align: justify;
}

.servicios .icon-box-full img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
}

.servicios .icon-box-full::before {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  top: 100%;
  transition: all 0.3s;
  z-index: -1;
}

.servicios .icon-box-full:hover::before {
  top: 0;
  border-radius: 0px;
}

.servicios .icon-box-full:hover {
  transform: scale(1.01);
  transition: all 0.7s ease-in-out;
}


.pagination {
  width: 100%;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

/* Estilos para la paginación */
.swiper-pagination {
  position: relative !important;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: var(--bs-body-color-text);
  border-radius: 50px;
}

@media only screen and (max-width: 480px) {
  .swiper-pagination {
    width: 35% !important;
  }
  .servicios .icon-box-full {
    height: 35vh;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .swiper-pagination {
    width: 40% !important;
  }
  .servicios .icon-box-full {
    height: 40vh;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .swiper-pagination {
    width: 30% !important;
  }
  .servicios .icon-box-full {
    height: 40vh;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  .swiper-pagination {
    width: 20% !important;
  }
  .servicios .icon-box-full {
    height: 50vh;
  }
}

@media only screen and (min-width: 1441px) {
  .swiper-pagination {
    width: 20% !important;
  }
  .servicios .icon-box-full {
    height: 60vh;
  }
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: var(--bs-body-bg);
  opacity: 0.5;
  border-radius: 50%;
  margin: 0 5px;
  transition: opacity 0.3s;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: var(--bs-body-bg);
}

/* Footer */

#footer {
  background: var(--color-secondary);
  color: var(--color-background-light);
}

#footer .logos-footer a i {
  color: var(--color-background-light);
}

#footer .link-footer li a {
  color: var(--color-background-light);
}

#footer .link-footer ul li a{
  font-size: 20px;
}